
body {
	text-align: center;
	margin-top: 20px;
	background-color: white;
	
}


#display {
	margin-right: 30%;
	margin-left: 20%;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	border-radius: 50%;
	background-color: black;
	height: 700px;
	width: 700px;
	color: white;
	position: relative;
}

h1 {
	font-size: 2em;
	font-family: sans-serif, Helvetica;
	font-weight: bold;
	color: white;
	margin-top: 50px;
}

#game {
	padding-top: 50px;
	

p {
	font-size: 1em;
	font-family: serif, Times;
	padding: 20px;
	color: white;
}

#question {
	font-color: black;

}


#answer {
	position: absolute;
	margin-top: 70px;

}


#newgame {
	color: white;
/*	padding: 30px;
*/	border: 1px;
	border-color: white;
	border-radius: 30px;
	background-color: yellow;
	border-style: dashed;
	float: left;
}

#howto {
	color: white;
/*	padding: 60px;
*/	float: right;
}